.offer {
    background-color: $green;
    padding: 120px 0;
    color: $white;
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-weight: 500;
        font-size: 58px;
        line-height: 120%;
        max-width: 500px;
        margin-bottom: 20px;
    }

    &__text{
        max-width: 478px;
        margin-bottom: 70px;
    }

    & .section__btn{
        padding: 20px 74px;
    }

    & img{
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}

@media (max-width: 1100px) {
    .offer{
        padding: 80px 0;
        text-align: center;
        &__inner{
            flex-direction: column-reverse;
            align-items: center;
            gap: 70px;
        }
    }
}

@media (max-width: 500px) {
    .offer{
        &__title{
            font-size: 40px;
            line-height: 105%;
        }

        &__text{
            font-size: 11px;
            line-height: 140%;
        }
    }
}